@import "../../style/vars";
.app-listing {
    &__no-data {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgba($primary-color, 0.1);
        &-icon {
            font-size: 150px;
        }
    }
}
