@import "./../../../style/vars";

.app-sidenav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__link {
    width: 100%;
    border-bottom: 1px solid #666;
    color: #FFF;
    font-size: 20px;
    padding: 10px 20px;
  }
}
