@import "./../../../style/vars";
$app-toast-border-radius: 5px !default;
$app-toast-color: $white !default;
$app-toast-close-color: $white !default;
.app-toast {
    position: fixed;
    width: 300px;
    max-width: 90vw;
    color: $app-toast-color;
    border-radius: $app-toast-border-radius;
    background: rgba($primary-color, 0.8);
    z-index: 99999;
    &--type {
        &-error {
            background: rgba($error-color, 0.8);
        }
        &-success {
            background: rgba($success-color, 0.8);
        }
    }
    // todo: these can be optimised into mixins for re-usablity
    &--position {
        &-bottom {
            &-right {
                right: 3%;
                bottom: 3%;
            }
            &-left {
                left: 3%;
                bottom: 3%;
            }
            &-center {
                left: 50%;
                transform: translateX(-50%);
                bottom: 3%;
            }
        }
        &-top {
            &-right {
                right: 3%;
                top: 3%;
            }
            &-left {
                left: 3%;
                top: 3%;
            }
            &-center {
                left: 50%;
                transform: translateX(-50%);
                top: 3%;
            }
        }
    }
    &__close {
        position: absolute;
        cursor: pointer;
        padding: 10px;
        top: 0;
        right: 0;
        color: $app-toast-close-color;
    }
    &__container {
        position: relative;
        padding: 25px;
        text-align: center;
    }
}