.app-navigation-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 13px;

  &--links {
    margin-left: 20px;

    &-button.mat-raised-button {
      margin-left:10px;
    }
  }

  &--form {
    &-field {
      margin-left: 10px;
    }
  }
}
