@import "../style/vars";
.app-content {
    padding: 20px;
}

.mat-sidenav-container {
    height: 100%;
}

.mat-drawer {
    width: 250px;
    max-width: 60vw;
}

.mat-drawer.mat-drawer-push {
    background-color: rgba($primary-color, 0.9);
    color: $white;
}