<ng-container *loggedIn="true">
  <ng-container *ngIf="list$ | async as itemCollection">
    <mat-chip-list *ngIf="itemCollection?.length; else noData">
      <mat-chip *ngFor="let coin of itemCollection">{{coin.name}}&nbsp;<span
          [coinIndicator]="coin.price_change_percentage_24h">{{coin.price_change_24h | currency}}
          ({{coin.price_change_percentage_24h | number}}%)</span></mat-chip>
    </mat-chip-list>
  </ng-container>

  <ng-template #noData>There are no favorites for your account</ng-template>
