<ng-container *loggedIn="true">
    <ng-container *ngIf="list$ | async as itemCollection">
        <ng-container *ngIf="itemCollection?.length; else noData">
            <ng-container *ngFor="let coin of itemCollection">
                <coingecko-coin-ticker-widget class="app-favorite-list__item" [attr.coin-id]="coin" currency="usd" locale="en"></coingecko-coin-ticker-widget>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
<ng-container *loggedIn="false">
    You must be logged in for favorites
</ng-container>
<ng-template #noData>
    There are no favorites yet.
</ng-template>