@import "./../../../style/vars";

.app-navigation-toolbar {
  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  &__left,
  &__right {
    width: 40%;
  }

  &__nav {
    display: flex;

    &-link {
      margin: 0 20px 0px;
      opacity: 0.9;
      cursor: pointer;
      display: block;
      height: 100%;
      color: $white;
      padding: 0 20px;

      &--active {
        border-bottom: 5px solid $accent-color;
      }

      &:hover {
        opacity: 1;
      }

      // todo: these can be optimised into mixins for re-usablity
      @media only screen and (max-width: 768px) {
        &:not(.app-navigation-toolbar__nav-link-burger) {
          display: none;
        }
      }

      @media only screen and (min-width: 768px) {
       &-burger.mat-icon-button {
          display: none;
        }
      }
    }
  }
}
