@import "./../../style/vars";
$app-home-gutter-space: 10px;
@mixin home-container {
    padding: 25px;
    margin: $app-home-gutter-space;
}

.app-home {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    &__top,
    &__left,
    &__right {
        @include home-container();
    }
    &__info,
    &__disclaimer,
    &__top {
        flex-basis: 100%;
    }
    &__left,
    &__right {
        flex-basis: calc(50% - #{$app-home-gutter-space * 2});
    }
    &__disclaimer {
        text-align: center;
        font-style: italic;
        font-size: 11px;
    }
}